# Personal access
tokens.yaml

# Byte‐compiled / caches
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
Sandbox test sleep_main.ipynb

# Distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
sdist/
*.egg-info/
*.egg

# vscode
.vscode/

#REm_propensity
figures/REM_propensity_explorations/
old_REM_propensity/
